@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "../../base/typography";
@import "../../base/breakpoint";

.content {
  @include flex(column, nowrap, center, center);

  small {
    @include textStyle2(400, 14px, 14px);
    color: $primary-color;
  }
  h1 {
    @include textStyle2(400, 32px, 32px);
    margin: 10px 0px;

    @include media("<=phone") {
      margin: 15px 0px;
      @include textStyle2(700, 24px, 24px);
    }
  }

  #{&}__active {
    width: 200px;
    @include flex(row, nowrap, space-between, center);
    background-color: $primary-color;
    border-radius: 30px;
    padding: 10px 20px;
    @include textStyle2(400, 16px, 16px);
    color: $white-color;

    @include media("<=phone") {
      width: 150px;
      @include textStyle2(400, 14px, 14px);
    }
  }
}
