@import "../utilities/variables";
@import "../utilities/mixins";
@import "../base/typography";
@import "../base/breakpoint";

.subcontent-02 {
  @include flex(row, nowrap, space-evenly, flex-start);
  padding: 50px 0px;
  color: $white-color;

  @include media("<=phone") {
    @include flex(column, wrap, center, flex-start);
  }

  #{&}__heading {
    flex: 1;
    @include textStyle(800, 35px, 35px);

    @include media("<=phone") {
      @include textStyle(800, 24px, 24px);
    }
  }
  #{&}__paragraph {
    flex: 1;
    @include textStyle(400, 16px, 16px);

    @include media("<=phone") {
      flex: 0;
      margin-top: 15px;
    }
  }
}
